.form {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.form input {
  background: #e4db5bc2;
  margin-right: 5px;
  width: 70%;
  height: 30px;
  font-size: 20px;
}

.form button {
  background: #334381;
  width: 25%;
  min-width: 100px;
  color: #d1cea0;
  border: none;
  margin-left: 5px;
  height: 30px;
  font-size: 18px;
}